<script>
	$(document).bind("touchend mouseup",function (e) {
	    var container = $(".name");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	    	askNewStartup();
	    }
	});

	$(window).keypress(function(e) {

	  if (e.keyCode == 0 || e.keyCode == 32) {
	  	askNewStartup();
	  }

	});

	function askNewStartup(){
		if (!$('body').hasClass('wait')){
		    $('body').addClass('fadeOut').addClass('wait');
		    setTimeout(function(){
				getNewStartups();
			},250);
		}
	}


	function getNewStartups() {

	 	var API = "https://morning-beyond-4046.herokuapp.com/welcome/index.json";
		$.getJSON( API, {format: "json"}).done(function(data){

			$('body').removeClass('fadeOut');

			var decoded0 = $('<div/>').html(data.titles[0].logo).text();
			var decoded1 = $('<div/>').html(data.titles[1].logo).text();
			
			$('.logos .cell:eq(0)')
				.css('background',data.titles[0].color)
				.find('.double').html(decoded0 + '<a class="name" href="'+ data.titles[0].url +'" target="_blank"><div>'+data.titles[0].name+'</div></a>')
			
			$('.logos .cell:eq(1)')
				.css('background',data.titles[1].color)
				.find('.double').html(decoded1 + '<a class="name" href="'+ data.titles[1].url +'" target="_blank"><div>'+data.titles[1].name+'</div></a>')

			setTimeout(function(){
				$('body').removeClass('wait');
			},500)
	   	})
	}
</script>

<div class="table logos">
	<% @titles.each do |title| %>
	<div class="cell" style="background:<%= title.color %>">
		<div class="double">
			<%= title.logo.html_safe %>
			<a class="name" href="<%= title.url %>" target="_blank"><div><%= title.name %></div></a>
		</div>
	</div>
	<% end %>
</div>
<div class="table plus">
	<div class="cell"><div class="amp">+</div></div>
</div>
<div class="footer">
	Hit the [SPACE] to get your next startup idea. Made by @<a href="https://twitter.com/stSilent" target="_blank">Vladimir</a> and @<a href="https://twitter.com/monstercritic" target="_blank">Sergey</a>.
</div>
</div>