<%= link_to 'Add New', 'titles#new' %>

<div class="table">
	<% @titles.each do |title| %>
	<div class="cell" style="background:<%= title.color %>">
		<%= title.logo.html_safe %>
		<%= title.name %>
	</div>
	<% end %>
</div>
<div class="table">
	<div class="cell"><div class="amp">+</div></div>
</div>
</div>