html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

  body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-animation:fadeIn 0.5s;
            animation:fadeIn 0.5s;
    -webkit-transition:0.25s;
            transition:0.25s;
  }
  
  @-webkit-keyframes fadeIn {
    from { opacity:0; filter: alpha(opacity=0); -webkit-transform:scale(1.1); transform:scale(1.1);}
  }
  
  @keyframes fadeIn {
    from { opacity:0; filter: alpha(opacity=0); -webkit-transform:scale(1.1); transform:scale(1.1);}
  }
  
  .fadeOut {
     opacity:0; transform:scale(1.1); -webkit-transform:scale(1.1); 
  }
  
  

  .table {
     display:table;
     vertical-align:middle;
     position:fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     text-align:center;
  }
  .cell {
     display:table-cell;
     vertical-align:middle;  
     position:relative;
  }
  .cell svg {
     width:50% !important;
     height:auto !important;
     fill:#fff;  
     text-align:center;
    -webkit-animation:fadeIn 0.5s;
            animation:fadeIn 0.5s;
  }
  .cell a.name {
    display: block;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 4vh;
    text-decoration: none;
    -webkit-transition:0.25s;
    transition:0.25s;
  }
  .cell:first-child .name {
    right: 0;
  }
  .cell a.name:hover {
     opacity:0.5;
     background:none;  
  }
  .amp {
     color:#fff;
     font-size:30vh;
     text-indent:-0.2vh;
  }
  
  .plus {  
     pointer-events:none;
    -webkit-animation:fadeIn 0.5s;
            animation:fadeIn 0.5s;
  }
  
  .titles .logotype {
    padding:30px;
    text-align: center;
    padding: 30px;
  }
  .titles .logotype svg {
     fill:#fff;
     height: 70px;
  }
  table.titles td {
    vertical-align: middle;
    padding: 20px;
    font-size: 20px;
  }
  
    
  /* small displays and portrait orientation */
  @media screen and (max-width: 414px) {
    .logos{
       display:block;  
    }
    
    .logos .cell {
       display:table
       height:50vh;  
    }
    .logos .cell .double {
       display:table-cell;
       vertical-align:middle;
    }
    .cell:first-child .name {
       right: inherit;
    }
  }